In [50]:
import pandas as pd

store_data = pd.read_excel("Client data (Social Media Co.).xlsx", sheet_name='East_West', date_format='Dt_Customer')
#print(store_data.head(10))

In [51]:
store_data['Dt_Customer'] = pd.to_datetime(store_data['Dt_Customer'], errors='coerce').dt.strftime('%Y-%m-%d')

C:\Users\proyas.bose\AppData\Local\Temp\ipykernel_11888\2939554302.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  store_data['Dt_Customer'] = pd.to_datetime(store_data['Dt_Customer'], errors='coerce').dt.strftime('%Y-%m-%d')

In [52]:
store_data[' Income '] = store_data[' Income '].replace('[\$,]', '', regex=True).astype(float)

In [53]:
store_data['Region'] = store_data['Region'].str.lower().replace({'eas': 'East', 'wst': 'West'})

In [54]:
store_data['Region'] = store_data['Region'].str.lower().replace({'east': 'EAST', 'west': 'WEST'})

In [55]:
store_data['Region'].unique()

array(['EAST', 'WEST'], dtype=object)

In [56]:
store_data.columns = store_data.columns.str.strip()

In [40]:
store_data.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Response', 'Complain', 'Country', 'Region',
       'Store_Code'],
      dtype='object')

In [18]:
store_data_ns = pd.read_excel("Client data (Social Media Co.).xlsx", sheet_name='North_South', date_format='Dt_Customer')

In [19]:
store_data_ns['Dt_Customer'] = pd.to_datetime(store_data_ns['Dt_Customer'], errors='coerce').dt.strftime('%Y-%m-%d')

C:\Users\proyas.bose\AppData\Local\Temp\ipykernel_11888\1338186425.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  store_data_ns['Dt_Customer'] = pd.to_datetime(store_data_ns['Dt_Customer'], errors='coerce').dt.strftime('%Y-%m-%d')

In [20]:
store_data_ns[' Income '] = store_data_ns[' Income '].replace('[\$,]', '', regex=True).astype(float)

In [24]:
store_data_ns['Region'] = store_data_ns['Region'].str.lower().replace({'nor': 'NORTH','north':'NORTH','soth': 'SOUTH','south':'SOUTH'})

In [25]:
store_data_ns['Region'].unique()

array(['NORTH', 'SOUTH'], dtype=object)

In [29]:
store_data_ns.columns = store_data_ns.columns.str.strip()

In [31]:
store_data_ns.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Response', 'Complain', 'Country', 'Region',
       'Store_Code'],
      dtype='object')

In [57]:
final_store_data = pd.concat([store_data,store_data_ns],axis = 0)
print(final_store_data.columns)
print(final_store_data.shape)
print(final_store_data.head(30))

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Response', 'Complain', 'Country', 'Region',
       'Store_Code'],
      dtype='object')
(4480, 30)
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0   12621        1970  Graduation       Divorced  84835.0        0         0
1   10040        1961  Graduation         Single  57091.0        0         0
2   15537        1958  Graduation        Married  67267.0        0         1
3   14566        1967  Graduation       Together  32474.0        1         1
4   11711        1989  Graduation         Single  21474.0        1         0
5   12743        1958         PhD         Single  71691.0        0         0
6   13258        1954    2n Cycle        Married  63564.0        0         0
7   13368        1967  Graduation       Together  44931.0        0         1
8   14137        1954         PhD        Married  65324.0        0         1
9   11082        1954         PhD        Married  65324.0        0         1
10  12948        1947    2n Cycle        Married  81044.0        0         0
11  13046        1979      Master       Together  62499.0        1         0
12  11901        1959         PhD          Widow  67786.0        0         0
13  14426        1981  Graduation        Married  26872.0        0         0
14  12833        1969  Graduation        Married   4428.0        0         1
15  10392        1977  Graduation        Married  54809.0        1         1
16  14043        1977  Graduation        Married  54809.0        1         1
17  15706        1958         PhD       Divorced  32173.0        0         1
18  15077        1960    2n Cycle         Single  47823.0        0         1
19  15252        1958      Master         Single  30523.0        2         1
20  10863        1954      Master       Together  36634.0        0         1
21  15545        1966      Master         Single  43456.0        0         1
22  13474        1979      Master        Married  40662.0        1         0
23  10059        1976         PhD        Married  49544.0        1         0
24  13834        1969  Graduation         Single  57731.0        0         1
25  16073        1965      Master         Single  33168.0        0         1
26  12176        1956  Graduation       Together  54450.0        1         1
27  10398        1956  Graduation       Together  54450.0        1         1
28  12638        1956         PhD          Widow  35340.0        1         1
29  12832        1975  Graduation         Single  73170.0        0         0

   Dt_Customer  Recency  MntWines  ...  AcceptedCmp3  AcceptedCmp4  \
0   2014-06-16        0       189  ...             0             0
1   2014-06-15        0       464  ...             0             0
2   2014-05-13        0       134  ...             0             0
3   2014-11-05        0        10  ...             0             0
4   2014-08-04        0         6  ...             1             0
5   2014-03-17        0       336  ...             0             0
6   2014-01-29        0       769  ...             1             0
7   2014-01-18        0        78  ...             0             0
8   2014-11-01        0       384  ...             0             0
9   2014-11-01        0       384  ...             0             0
10  2013-12-27        0       450  ...             0             0
11  2013-09-12        0       140  ...             0             0
12  2013-07-12        0       431  ...             0             0
13  2013-10-16        0         3  ...             0             0
14  2013-05-10        0        16  ...             0             0
15  2013-11-09        0        63  ...             0             0
16  2013-11-09        0        63  ...             0             0
17  2013-01-08        0        18  ...             0             0
18  2013-07-23        0        53  ...             0             0
19  2013-01-07        0         5  ...             0             0
20  2013-05-28        0       213  ...             0             0
21  2013-03-26        0       275  ...             0             0
22  2013-03-15        0        40  ...             0             0
23  2013-12-02        0       308  ...             0             0
24  2012-11-23        0       266  ...             0             0
25  2012-10-13        0        80  ...             0             0
26  2012-09-14        0       454  ...             0             0
27  2012-09-14        0       454  ...             0             0
28  2014-06-29        1        27  ...             0             0
29  2014-05-31        1       184  ...             0             0

    AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Response  Complain  Country  \
0              0             0             0         1         0       SP
1              0             0             1         1         0       CA
2              0             0             0         0         0       US
3              0             0             0         0         0      AUS
4              0             0             0         1         0       SP
5              0             0             0         1         0       SP
6              0             0             0         1         0      GER
7              0             0             0         0         0       SP
8              0             0             0         0         0       US
9              0             0             0         0         0      IND
10             0             0             0         0         0       US
11             0             0             0         0         0       SP
12             0             0             0         1         0      IND
13             0             0             0         0         0       CA
14             0             0             0         0         0       SP
15             0             0             0         0         0       SP
16             0             0             0         1         0       SP
17             0             0             0         0         0       SP
18             0             0             0         0         0       CA
19             0             0             0         0         0       CA
20             0             0             0         0         0       SA
21             0             0             0         0         0      IND
22             0             0             0         0         0      GER
23             0             0             0         0         0       SP
24             0             0             0         0         0      IND
25             0             0             0         0         0       SP
26             0             0             0         0         0       SP
27             0             0             0         0         0       SP
28             0             0             0         0         0       SP
29             0             0             0         0         0       CA

    Region  Store_Code
0     EAST          N5
1     EAST         N11
2     EAST         N11
3     WEST          N5
4     EAST         N12
5     EAST         N11
6     EAST          N1
7     EAST         N12
8     WEST         N12
9     WEST          N5
10    EAST          N1
11    EAST          N5
12    EAST          N1
13    EAST         N11
14    WEST          N5
15    EAST          N5
16    EAST          N1
17    EAST         N11
18    EAST          N1
19    EAST         N11
20    EAST          N1
21    EAST          N5
22    WEST         N12
23    EAST          N5
24    EAST          N1
25    EAST          N5
26    WEST         N11
27    WEST          N5
28    WEST         N12
29    WEST          N5

[30 rows x 30 columns]

In [45]:
print(final_store_data['Region'].unique())

['EAST' 'WEST' 'NORTH' 'SOUTH']

In [46]:
df = pd.read_csv("Stores Data.csv")
print(df.head(2))

  MONTH STORECODE  DAY BILL_ID  BILL_AMT  QTY  VALUE  PRICE  \
0    M1        N1    4    T375     225.0  1.0  225.0  225.0
1    M1        N1    4    T379      95.0  1.0   95.0   95.0

                       GRP                     SGRP                    SSGRP  \
0     BUTTER MARGR  (4/94)                   BUTTER                   SALTED
1  CONFECTIONERY - ECLAIRS  CONFECTIONERY - ECLAIRS  CONFECTIONERY - ECLAIRS

           CMP    MBRD               BRD
0    G C M M F    AMUL              AMUL
1  PARLE PRODS  MELODY  MELODY CHOCOLATY

In [49]:
print(df.shape)

(26985, 14)

In [58]:
joined_data = pd.merge(final_store_data,df,left_on='Store_Code',right_on = 'STORECODE')
print(joined_data.shape)
print(joined_data.head(30))

(13021541, 44)
       ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0   12621        1970  Graduation       Divorced  84835.0        0         0
1   12621        1970  Graduation       Divorced  84835.0        0         0
2   12621        1970  Graduation       Divorced  84835.0        0         0
3   12621        1970  Graduation       Divorced  84835.0        0         0
4   12621        1970  Graduation       Divorced  84835.0        0         0
5   12621        1970  Graduation       Divorced  84835.0        0         0
6   12621        1970  Graduation       Divorced  84835.0        0         0
7   12621        1970  Graduation       Divorced  84835.0        0         0
8   12621        1970  Graduation       Divorced  84835.0        0         0
9   12621        1970  Graduation       Divorced  84835.0        0         0
10  12621        1970  Graduation       Divorced  84835.0        0         0
11  12621        1970  Graduation       Divorced  84835.0        0         0
12  12621        1970  Graduation       Divorced  84835.0        0         0
13  12621        1970  Graduation       Divorced  84835.0        0         0
14  12621        1970  Graduation       Divorced  84835.0        0         0
15  12621        1970  Graduation       Divorced  84835.0        0         0
16  12621        1970  Graduation       Divorced  84835.0        0         0
17  12621        1970  Graduation       Divorced  84835.0        0         0
18  12621        1970  Graduation       Divorced  84835.0        0         0
19  12621        1970  Graduation       Divorced  84835.0        0         0
20  12621        1970  Graduation       Divorced  84835.0        0         0
21  12621        1970  Graduation       Divorced  84835.0        0         0
22  12621        1970  Graduation       Divorced  84835.0        0         0
23  12621        1970  Graduation       Divorced  84835.0        0         0
24  12621        1970  Graduation       Divorced  84835.0        0         0
25  12621        1970  Graduation       Divorced  84835.0        0         0
26  12621        1970  Graduation       Divorced  84835.0        0         0
27  12621        1970  Graduation       Divorced  84835.0        0         0
28  12621        1970  Graduation       Divorced  84835.0        0         0
29  12621        1970  Graduation       Divorced  84835.0        0         0

   Dt_Customer  Recency  MntWines  ...  BILL_AMT  QTY  VALUE  PRICE  \
0   2014-06-16        0       189  ...      50.0  1.0   50.0   50.0
1   2014-06-16        0       189  ...     110.0  1.0   10.0   10.0
2   2014-06-16        0       189  ...     110.0  1.0   10.0   10.0
3   2014-06-16        0       189  ...     110.0  2.0   20.0   10.0
4   2014-06-16        0       189  ...     110.0  1.0   70.0   70.0
5   2014-06-16        0       189  ...     136.0  1.0   32.0   32.0
6   2014-06-16        0       189  ...     136.0  1.0    5.0    5.0
7   2014-06-16        0       189  ...     136.0  1.0   99.0   99.0
8   2014-06-16        0       189  ...      20.0  2.0   20.0   10.0
9   2014-06-16        0       189  ...      20.0  1.0   10.0   10.0
10  2014-06-16        0       189  ...      20.0  1.0   10.0   10.0
11  2014-06-16        0       189  ...      28.0  1.0   28.0   28.0
12  2014-06-16        0       189  ...     744.0  5.0   50.0   10.0
13  2014-06-16        0       189  ...     744.0  1.0  190.0  190.0
14  2014-06-16        0       189  ...     744.0  1.0  260.0  260.0
15  2014-06-16        0       189  ...     744.0  1.0  185.0  185.0
16  2014-06-16        0       189  ...     744.0  1.0   39.0   39.0
17  2014-06-16        0       189  ...     744.0  1.0   20.0   20.0
18  2014-06-16        0       189  ...      40.0  2.0   40.0   20.0
19  2014-06-16        0       189  ...      83.0  1.0   45.0   45.0
20  2014-06-16        0       189  ...      83.0  1.0   38.0   38.0
21  2014-06-16        0       189  ...     235.0  1.0   10.0   10.0
22  2014-06-16        0       189  ...     235.0  1.0   10.0   10.0
23  2014-06-16        0       189  ...     235.0  1.0   40.0   40.0
24  2014-06-16        0       189  ...     235.0  1.0  175.0  175.0
25  2014-06-16        0       189  ...     195.0  3.0   30.0   10.0
26  2014-06-16        0       189  ...     195.0  2.0   20.0   10.0
27  2014-06-16        0       189  ...     195.0  2.0   20.0   10.0
28  2014-06-16        0       189  ...     195.0  1.0  125.0  125.0
29  2014-06-16        0       189  ...     165.0  1.0  165.0  165.0

                               GRP                           SGRP  \
0           AGARBATTI & DHOOPBATTI                      AGARBATTI
1    CONFECTIONERY - COUGH LOZENGE  CONFECTIONERY - COUGH LOZENGE
2              SALTY SNACKS (2/97)                  POTATO WAFERS
3              SALTY SNACKS (2/97)            GATHIA/PAPRI/RIBLON
4          WASHING POWDERS/LIQUIDS        WASHING POWDERS/LIQUIDS
5   MOSQUITO REPELLANTS CTG (8/93)                          COILS
6               CLEANERS - UTENSIL                    TRADITIONAL
7                     TOOTH PASTES                   TOOTH PASTES
8       BISCUITS - CORE & NON CORE                   SALT CRACKER
9       BISCUITS - CORE & NON CORE                          MARIE
10      BISCUITS - CORE & NON CORE                        GLUCOSE
11      BISCUITS - CORE & NON CORE                          MARIE
12      BISCUITS - CORE & NON CORE                          CREAM
13  FRAGRANCE-PERFUM,DEO & COLOGNE          FRAGRANCE - DEODORANT
14  FRAGRANCE-PERFUM,DEO & COLOGNE            FRAGRANCE - PERFUME
15            DIAPERS       (8/93)           DIAPERS       (8/93)
16       COCONUT OIL PKTYP (08/02)                        BRANDED
17                    TOOTH PASTES                   TOOTH PASTES
18      BISCUITS - CORE & NON CORE                          MARIE
19           SHAMPOO - BY SEGMENTS                BOTTLES / TUBES
20                SANITARY NAPKINS               SANITARY NAPKINS
21      BISCUITS - CORE & NON CORE                   SALT CRACKER
22      BISCUITS - CORE & NON CORE                   SALT CRACKER
23      BISCUITS - CORE & NON CORE                          MARIE
24                      MILK FOODS                     MILK FOODS
25      BISCUITS - CORE & NON CORE                  SWEET/COOKIES
26      BISCUITS - CORE & NON CORE                  SWEET/COOKIES
27      BISCUITS - CORE & NON CORE                  SWEET/COOKIES
28                     SKIN CREAMS                      FACE WASH
29           SHAMPOO - BY SEGMENTS                BOTTLES / TUBES

                            SSGRP                         CMP  \
0                       AGARBATTI  SHALIMAR AGARBATTI COMPANY
1   CONFECTIONERY - COUGH LOZENGE               WRIGLEY INDIA
2                   POTATO WAFERS               PEPSICO INDIA
3             GATHIA/PAPRI/RIBLON               PEPSICO INDIA
4         WASHING POWDERS/LIQUIDS       PATANJALI AYURVED LTD
5                           COILS       GODREJ CONSUMER PRODS
6                            BARS  HINDUSTAN UNILEVER LIMITED
7                    TOOTH PASTES                       DABUR
8                    SALT CRACKER           SURYA FOOD & AGRO
9                           MARIE              BRITANNIA INDS
10                        GLUCOSE                 PARLE PRODS
11                          MARIE              BRITANNIA INDS
12                          CREAM              BRITANNIA INDS
13          FRAGRANCE - DEODORANT         VANESA CARE PVT LTD
14            FRAGRANCE - PERFUME                     RAMSONS
15           DIAPERS       (8/93)      UNICHARM INDIA PVT LTD
16                          RIGID                 MARICO INDS
17                   TOOTH PASTES           COLGATE-PALMOLIVE
18                          MARIE              BRITANNIA INDS
19                BOTTLES / TUBES        AYUR HERBALS PVT LTD
20               SANITARY NAPKINS      UNICHARM INDIA PVT LTD
21                   SALT CRACKER           SURYA FOOD & AGRO
22                   SALT CRACKER                 PARLE PRODS
23                          MARIE              BRITANNIA INDS
24                     MILK FOODS                   G C M M F
25                  SWEET/COOKIES   KAIRA DISTRICT CO-OP MILK
26                  SWEET/COOKIES                       I T C
27                  SWEET/COOKIES              BRITANNIA INDS
28                      FACE WASH  HINDUSTAN UNILEVER LIMITED
29                BOTTLES / TUBES  HINDUSTAN UNILEVER LIMITED

                    MBRD                             BRD
0               SHALIMAR                        SHALIMAR
1             DOUBLEMINT                      DOUBLEMINT
2                   LAYS            LAYS CARIBBEAN STYLE
3               KUR KURE  KUR KURE CHUTNEY RAJASTHANI ST
4              PATANJALI                       PATANJALI
5            GOOD KNIGHT               GOOD KNIGHT JUMBO
6                    VIM                             VIM
7                 BABOOL                          BABOOL
8              PRIYAGOLD               PRIYAGOLD ZIG ZAG
9             MARIE GOLD              MARIE GOLD REGULAR
10               PARLE-G                         PARLE-G
11            MARIE GOLD              MARIE GOLD REGULAR
12                 TREAT                       TREAT JAM
13                DENVER                 DENVER HAMILTON
14               RAMSONS                         RAMSONS
15       MAMY POKO PANTS        MAMY POKO PANTS STANDARD
16             PARACHUTE                       PARACHUTE
17     COLGATE MAX FRESH  COLGATE MAXFRSH SPICY FRSH RED
18            MARIE GOLD                 VITA MARIE GOLD
19                  AYUR                     AYUR HERBAL
20                  SOFY                   SOFY BODY FIT
21             PRIYAGOLD         PRIYAGOLD BUTTER DELITE
22                MONACO                          MONACO
23            MARIE GOLD                 VITA MARIE GOLD
24            AMUL SPRAY                      AMUL SPRAY
25                  AMUL                            AMUL
26  SUNFEAST MOM'S MAGIC  SUNFEAST MOM'S MGC RICH BUTTER
27              GOOD DAY                 GOOD DAY CASHEW
28                 PEARS                 PEARS FACE WASH
29               SUNSILK                         SUNSILK

[30 rows x 44 columns]

In [60]:
print(joined_data.columns)

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Response', 'Complain', 'Country', 'Region',
       'Store_Code', 'MONTH', 'STORECODE', 'DAY', 'BILL_ID', 'BILL_AMT', 'QTY',
       'VALUE', 'PRICE', 'GRP', 'SGRP', 'SSGRP', 'CMP', 'MBRD', 'BRD'],
      dtype='object')

In [61]:
joined_data['Store_Code'].unique()

array(['N5', 'N1', 'N10', 'N4', 'N7', 'N3', 'N8', 'N6', 'N2', 'N9'],
      dtype=object)

In [65]:
data_for_forecast = joined_data.groupby(['Dt_Customer','STORECODE'])['Income'].mean().reset_index().sort_values('Dt_Customer',ascending  = True)
data_for_forecast.head(5)

  Dt_Customer STORECODE   Income
0  2012-01-08        N1   7500.0
1  2012-01-08        N2  82576.0
2  2012-01-08        N7  40651.5
3  2012-01-09        N1  94871.0
4  2012-01-10        N1  65369.0

In [66]:
data_for_forecast.to_csv('data_for_forecast.csv')